.about-container{
  height: 100vh ;
  background-image: url("/assets/images/info-bg.jpg");
  background-size: cover ;
  background-repeat: no-repeat ;
  background-position: bottom ;

  //background-color: rgba(255,255,255,0.5);
  //background-blend-mode: lighten;

  background-blend-mode: multiply;
  background-color: #666666;
}

.about-container *{
  color: white ;
}

.about-title{
  font-size: 3em ;
  font-weight: bold;
}

.get-to-know{
  font-size: 5em ;
  font-weight: bold;
}
