<div class="home-container" ngClass.gt-xs="regular-height" ngClass.xs="mobile-height">

  <div  fxLayout="column" style="min-height: fit-content;"
        fxFlexOffset.gt-xs="2%"  fxLayoutAlign.gt-xs="space-around"
        fxLayoutGap.xs="20%" >

    <div class="image-container" ngClass.xs="top-margin"
         fxLayout.xs="row" fxLayoutAlign.xs="center none" >
      <img [src]="logoUrl" />
    </div>

    <div class="title-containers" ngClass.xs="center-align"
         fxLayout="column"
         fxLayoutAlign.xs="none center">

        <h1>{{oncosys}}</h1>
        <h1>{{our_site}}</h1>
        <p>{{description}}</p>

    </div>

  </div>



</div>
