.contact-container{
  background-image: url("/assets/images/info-bg.jpg");
  background-size: cover ;
  background-repeat: no-repeat ;
  background-position: bottom ;

  //background-color: rgba(255,255,255,0.5);
  //background-blend-mode: lighten;

  background-blend-mode: multiply;
  background-color: #666666;
}

.regular-height{
  min-height: 100vh ;
}

.mobile-height{
  min-height: 80vh ;
}

.contact-container *{
  color: white ;
}

.contact-title{
  font-size: 3em ;
  font-weight: bold;
  padding-top: 1em ;
}

.submit-button{
  margin: 1em 0 ;
  background-color: darkblue;
  border-radius: 0.3em ;
  width: 50%;
  height: 3em ;
  font-size: 1.5em ;
}

app-form-field{
  width: 50% ;
}

