<div class="contact-container" ngClass.gt-xs="regular-height" ngClass.xs="mobile-height"
     fxLayout="column" fxLayoutAlign="start center">

    <h1 class="contact-title" fxFlexOffset="2%" >
        {{get_in_touch}}
    </h1>

    <app-form-field label="Name"></app-form-field>
    <app-form-field label="Email"></app-form-field>
    <app-form-field label="Subject"></app-form-field>
    <app-form-field label="Message"></app-form-field>

    <button class="submit-button" mat-button>
      Submit
    </button>

</div>




